<div class="container">
  <p-card class="w-100 p-6 text-center">
    <h1 class="text-xl font-bold mb-10">Sign in to the app</h1>
    <form
      #loginForm="ngForm"
      (ngSubmit)="onSubmit(loginForm)"
      class="flex flex-col gap-10 justify-center w-full sm:w-56 m-auto"
    >
      <div class="flex flex-col gap-1">
        <p-floatlabel>
          <input
            pInputText
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            #emailInput="ngModel"
            required
            email
            [invalid]="emailInput.invalid && emailInput.dirty"
            class="mb-2"
          />
          <label for="email">Email address</label>
        </p-floatlabel>
        @if (emailInput.invalid && (emailInput.touched || loginForm.submitted))
        { @if (emailInput.hasError('required')) {
        <p-message severity="error" size="small" variant="simple"
          >Email is required.</p-message
        >
        } @if (emailInput.hasError('email')) {
        <p-message severity="error" size="small" variant="simple"
          >Please enter a valid email.</p-message
        >
        } }
      </div>
      <button
        pButton
        severity="success"
        type="submit"
        [disabled]="loginForm.invalid || loginForm.untouched"
      >
        <span pButtonLabel>Sign in</span>
      </button>
    </form>

    @if(errorMessage()) {
    <p-message
      severity="error"
      size="small"
      variant="simple"
      class="m-auto mt-8 text-center flex justify-center"
      >{{errorMessage()}}</p-message
    >
    }
  </p-card>
</div>
